
h1.navBar {
  margin: -6px;
}
a a.a {
  /* font-family: "Poppins", sans-serif; */
  color: white;
  font-size: 40px;
 
}
@media (max-width: 719px) {
  a a.a {
    background-color: #497ec0;
    display: block;
    color: white;
    font-size: 20px;
   
  }
}
.link-navbar {
  margin-left: 14px;
  margin-bottom: 8px;
}
.div-parpadea {
  margin-left: 48px;
}
a.a.parpadea {
  margin-left: -5px;
  animation-name: parpadeo;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
   100% { opacity: 1.0; }
}
@keyframes parpadeo {  
  50% { color: black; }
  0% { opacity: 1.0; }
  100% { opacity: 1.0; }
}