h1.main-text1 {
  color: white;
  font-size: 34px;
  text-align: center;
  margin-top: 18px;
}
h1.main-text2 {
  text-align: center;
  color: white;
  font-size: 25px;
  margin: 3px;
  text-decoration: underline;
}

.main-text {
  letter-spacing: 1px;
  font-size: 34px;
  color: white;
  text-align: center;
}
.main-text-silla {
  font-size: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-left: -4px;
  margin-bottom: -40px;
}
.main-text0 {
  /* line-height: 30px; */
  /* letter-spacing: 12px; */
  font-size: 27px;
  color: white;
  text-align: center;
}
a.main-text {
  text-decoration: none;
  font-size: 25px;
  color: white;
  text-align: center;
}
p.main-text-mapa {
  font-size: 20px;
  color: white;
  text-align: center;
}
li {
  letter-spacing: 2px;
  font-size: 25px;
  color: white;
  margin-left: 20px;
}
ul {

  margin-left: -30px;
}
.main-container1 {
  height: auto;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.titulo2png {
  width: 550px;
  height: 380px;
  margin-left: 36%;
  margin-top: -176px;
}
@media (max-width: 720px) {
  .titulo2png {
    margin-bottom: -53px;
    margin-left: 10%;
    width: 250px;
    height: 200px;
  }
  }
  @media (min-width: 721px) and (max-width: 900px) {
    .titulo2png {
    margin-left: 24%;
    width: 264px;
    margin-top: -285px;
    height: 212px;
    }
    }
  .silla {
    width: 80px;
    margin-bottom: -28px
    
  }
.direccion {
  color: white;
    margin: 30px 30px 30px 15px;
    border: 5px solid rgb(23, 120, 185);
    background-color: #497ec0;
    border-radius: 5px;
    /* font-family: "Poppins", sans-serif; */
    font-size: 20px;
    box-shadow: rgb(50, 48, 48) 3px 3px 13px 5px;
    width: 350px;
    padding: 14px;
    height: auto;
}
.caja-mapa {
  margin: 30px;
  height: 619px;
  border: 5px solid rgb(23, 120, 185);
  background-color: #497ec0;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: rgb(50, 48, 48) 3px 3px 13px 5px;
  width: 422px;
  padding: 20px;
}
.caja-important-Info {
  margin: 0 20% 0 20%;
  border: 5px solid rgb(23, 120, 185);
  background-color: #497ec0;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: rgb(50, 48, 48) 3px 3px 13px 5px;
  width: auto;
  padding: 20px;
  height: auto;
}
.caja-Contacto {
  margin: 30px;
  border: 5px solid rgb(23, 120, 185);
  background-color: #497ec0;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: rgb(50, 48, 48) 3px 3px 13px 5px;
  width: 420px;
  padding: 20px;
  height: auto;
}

.main-container2 {
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.cajas2 {
  margin: 20px 20px 50px 20px;
  border: 5px solid rgb(23, 120, 185);
  background-color: #497ec0;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: rgb(50, 48, 48) 3px 3px 13px 5px;
  width: 600px;
  padding: 20px;
  height: 495px;
}
.preguntas {
  text-decoration: underline;
  font-size: 25px;
  color: white;
  margin-left: 158px;
  letter-spacing: 1px;
}
.link-preguntas {
  margin: 0px 0px 0px -5px;
  color: #ffffff;
}
@media (max-width: 720px) {
  .cajas1 {
    height: auto;
  }
  .cajas2 {
    height: auto;
  }
  .caja-important-Info {
    margin: 15% 30% 0 12%;
    border: 5px solid rgb(23, 120, 185);
    background-color: #497ec0;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: rgb(50, 48, 48) 3px 3px 13px 5px;
    width: 68%;
    padding: 20px;
    height: auto;
  }
}




